* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*Importamos la fuente "Family Bebas Neue"*/

@font-face {
    font-family: 'Optimus Princeps';  /*De esta manera, podemos importar la fuente "Optimus Princeps" el cual no esta en google fonts, lo subimos de manera local*/
    src: url(fuentes/OptimusPrincepsSemiBold.ttf);
}

body {
    background-color: #000000;    /*Fondo del background en negro*/
    display: flex;   /*Convertimos el box en un contenedor flex, ahora podemos distribuir y alinear los ibjetos de manera mas facil*/
    justify-content: center; /*Alinea los items del contenedor de manera hortizontalmente centrada*/
    align-items: center; /*Los items se alinearan de manera centrada*/
    min-height: 100vh; /*Añadimos la altura minima a 100vh, el cual equivale al 100% de la ventana del navegador*/
    position: relative;
}

/* Scrollbar */
::-webkit-scrollbar {    /* Pseudo-elemento para poder editar el scrollbar*/
  background-color: transparent; /*Hacemos que el fondo del scrollbar sea transparente     */
  width: 5px; /*El grosor de el scrollbar será de 5px*/
}

::-webkit-scrollbar-thumb { /* Pseudo-elemento para editar el thumb del scrollbar*/
background: linear-gradient(to bottom, #b18f61, #d9d1ad, #b18f61); /*Añadimos un fondo degradado con 3 colores en la siguiente dirección, de arriba hacía abajo*/
  border-radius: 100px; /*Le añadimos un radio del borde de 100px*/
}

/*Css Portada*/

.main_title {
    position: absolute; /*Aplicamos posicion absoluta */
    left: 50%; /*Posiciona el elemento de modo que el borde izquierdo quede en el 50% del ancho del contenedor*/
    top: 30%; /*Posiciona el borde superior del elemento a un 30% desde la parte superior del contenedor*/
    transform: translateX(-50%); /*Hacemos que el poscionamiento de la derecha, utilice el 50%, por lo tanto, el elemento queda centrado*/
    text-align: center; /*Alineamos el texto para que sea centrado*/
    z-index: 2; /*Definimos que el titulo, esta sobrepuesto de otros elementos*/
}

.main_title h1 {
    color: #b18f61;
    background-image: linear-gradient(to bottom, #b18f61, #d9d1ad, #b18f61);
    background-clip: text; /*Aplica el fondo degradado al texto, el texto se convierte en una mascara por lo tanto solo se applica a la misma*/
    -webkit-background-clip: text; /*Aseguramos compatibilidad en el navegaodr chrome*/
    color: transparent; /*Aplicamos color transparente para que el fondo con degradado aplicado sea visible */
    font-size: 150px ; /*La fuente utiliza un tamaño de 150px*/
    font-family: 'Optimus Princeps';  /*Aplicamos la fuente que hemos añadido de manera local*/
    text-transform: uppercase; /*Transformamos el texto en mayusculas*/
    -webkit-text-stroke: 2px rgb(0, 0, 0); /*Ñadimos un contorno negro de 2px*/
}

.menu {
    position: absolute;
    bottom: 20px; /*El contenedor menu estará 20px del borde inferior*/
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.menu ul {
    list-style-type: none; /*Cambiamos el estilo de la lsta para que no tenga ningun estilo*/
    padding: 0; /*Definimos que el padding tenga valor 0*/
    margin: 0; /*Definimos que el margin tenga valor 0*/
}

.menu li {
    margin: 10px 0; /*Aplicamos un marign de 10px  arriba y abajo*/
    background-image: linear-gradient(to bottom, #f5d45e, #d9d1ad, #b18f61);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;    
    font-family: 'Optimus Princeps';
    font-size: 20px; 
    text-align: center;

}

.menu a { /*Header*/
    text-align: center;
    background-image: linear-gradient(to bottom, #b18f61, #d9d1ad, #b18f61);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;    
    font-family: 'Optimus Princeps';
    font-size: 24px; 
    text-decoration: none !important;  /*Aplicamos que el texto no tenga decoracion, y el uso de !important garantiza que tiene la prioridad sobre otra propiedad que pueda aladir decoracion al texto */
    display: inline-block; /*Establecemos  que los elementos  se comporten como un inline block*/
    transition: transform 0.3s, color 0.3s; /*ñadimos una transicion de 0.3s en el hover del menu*/
}
.menu a:hover { /*Al pasar el raotn por encima, aparecerá las siguientes propiedades*/
    color: rgba(255, 255, 255, 0.7); /*El color se cambiará al siguiente*/
    transform: scale(1.1);  /*Al pasar el cursor por encima, se aplicará un pequeño zoom */

}

.image-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%); /*Centramos la imagen */
    z-index: 1; 
}
.image-container h4 {
    font-size: 350px; 
    background-image: linear-gradient(to left, #d7a94b, #b18f61, #9e6b3e, #d7a94b); /*Aplicamos un degradado de fondo de 4 colores con la siguiente direccion, de derecha a izquierda*/
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
    font-family: 'Optimus Princeps';
    text-align: center;
    transform: translateY(-15px); /*Hacemos que el poscionamiento de la izquierda, utilice el 15%*/
    text-decoration: none;
    
}
/*Css Portada*/

/*Css header htmls*/
.header {
    display: flex; /*Establecemos el contenedor flexible para los elementos del header, facilitando la distribución de espacio y alineacion de los elementos*/
    justify-content: space-between; /*Justificamos el contenido poniendo un espacio entre medio de cada elemento*/
    align-items: center;
    background-color: black;    
    position: fixed; /*Fijamos la poscion del header*/
    top: 0;
    left: 0;     /*Estos valores, posicionan el header en la parte superior de la pagina*/
    right: 0;
    height: 80px;    /*Establecemos una altura de 80px */
}

.logo {
    font-size: 50px;
    background-image: linear-gradient(to left, #d7a94b, #b18f61, #9e6b3e, #d7a94b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 15px; /*Añadimos un margen a la izquierda de 15px*/
}

.home-button {
    margin-right: 20px /*Añadimos un margen a la derecha de 20px*/
    font-size: 40px;
    color: #b18f61; 
    transition: transform 0.3s, color 0.3s; 
}

.home-button:hover {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.7);
}
/*Css header htmls*/

/*Css formulari afegir cançons*/
.form-container {
    position: fixed; /* Cambiar a fixed */
    top: 40px; /* Espaciado desde la parte superior (ajusta según sea necesario) */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.9); /* Color de fondo semitransparente */
    border-radius: 8px;    /*Añadimos un borde del radio de 8px*/ 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  /*APlicamos sombra a la box de 10px y color negro*/
    margin-right: 20px; 
    font-family: "Bebas Neue", sans-serif;
    z-index: 10; /* Asegúrate de que el formulario esté por encima de otros elementos */
}

label { /*Modificamos los campos de los formularios*/
    display: block; /*Bloquemoas la posicion del elemento*/
    margin-top: 0px; 
    color: #ffffff; 
}

input[type="text"], /*Modificamos los inputs de texto y archivos*/
input[type="file"],
textarea {
    width: 100%; /*Ocuparan el 100% del amplio*/
    padding: 8px; /*Establecemos un padding de 8 px*/
    margin-top: 5px; /*Añadimos un margin en la parte superior de 5px*/
    border: 1px solid #333333;  /*Añadimos un borde de 1px de manera solida */
    border-radius: 4px; 
    background-color: #333333; 
    color: #ffffff;
}

.cancion button {
    margin-top: 20px; 
    padding: 10px; 
    background-color: #d7a94b; 
    color: white; 
    border: none; /*A*/
    border-radius: 4px;
    cursor: pointer; 
}

.cancion button:hover {
    background-color: #f2a814; 
}
 h5{
    color: white;
    font-size: 30PX ;
}

.cancion input::file-selector-button{
    padding: 10px;
    background-color: #d7a94b;
    color: white;
    border: none; /*Eliminamos cualquier borde por defecto*/
    border-radius: 4px;
    cursor: pointer; /*Cambiamos el cursor  a un puntero*/
}

/*Css formulari editar canço*/

/*Css llista de cançons*/
.playlist-title{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px; /*Añadimos un espacio de 1px entre letras*/
    text-align: center;
}

#playlist-container {
    margin-top: 80px;
}

.play-song-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    height: 60px;
    width: 500px;
    background-image: inherit; /* Para heredar la imagen de fondo */
    background-position: center; /*Para centrar la imagen de fondo*/
    background-repeat: no-repeat; /*Para que la imagen no se repita*/
    background-size: cover; /*Para ajustar la imagen al contenedor*/
    overflow: hidden; /* Evitar que el contenido se salga del contenedor */
}

.play-song-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Para heredar la imagen de fondo */
    background-size: cover;
    background-position: center;
    filter: blur(12px); /* Aplicamos un efecto de desenfoque */
}

/* Imagen de la carátula */
.play-song-item img {
    width: 60px; /* Ancho de la imagen */
    height: 60px; /* Altura de la imagen */
    border-radius: 5px; /* Ppara esquinas redondeadas */
    object-fit: cover; /* Para asegurarse de que la imagen mantenga sus proporciones */
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    z-index: 2; /* Asegura que la imagen esté por encima del fondo difuminado */
}

/* Información de la canción */
.play-song-info {
    z-index: 2; /* Asegura que el texto esté por encima del fondo difuminado */
    color: white; /* Color del texto */
    font-weight: bold; /*Texto de manera bold*/
    font-family: "Bebas Neue", sans-serif;
}

/* Título de la canción */
.play-song-info h2 {
    margin: 0; /* Sin márgenes */
    font-size: 18px; /* Tamaño del título */
}

/* Título de la canción */
.play-song-info p {
    margin: 0; /* Sin márgenes */
    font-size: 10px; /* Tamaño del título */
}

/*Css llista de cançons*/

/*Css botones editar cancion y eliminar*/
.button-container {
    display: flex;
    justify-content: flex-end; /*Alinea todos los botones al final del contenedor*/
    gap: 10px; /*Crea un espacio de 10px entre cada uno de los botones*/
    margin-left: auto; /* Para que los botones se alineen a la derecha */
}

/* Estilos para los botones */
.edit-button, .delete-button, .play-button {
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10px;
    transition: background-color 0.3s ease;
    z-index: 2;
}

.edit-button:hover {
    background-color: #1900ff; /* Color para hover en el botón de editar */
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */

}

.delete-button:hover {
    background-color: red; /* Color para hover en el botón de eliminar */
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */

}
.play-button:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */
    background-color: #0dff00; /* Color para hover en el botón de editar */

}

/*Css formulari afegir cançons*/
.container-edit{
    display: flex;
    align-items: end; /*Alinear todos los elementos al final del contenedor*/
}
.edit-form { 
    width: 400px;     
    justify-content: flex-start; 
    margin-top: 10px; 
    font-family: "Bebas Neue", sans-serif;
}

label {
    display: block; 
    margin-top: 10px; 
    color: #ffffff; 
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
    border: 1px solid #333333; 
    border-radius: 4px; 
    background-color: #333333; 
    color: #ffffff;
}

.edit-form button {
    margin-top: 10px; 
    padding: 10px; 
    background-color: #d7a94b; 
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}

.edit-form button:hover {
    background-color: #f2a814; 
}

.edit-form input::file-selector-button{
    padding: 10px;
    background-color: #d7a94b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.vovler-btn {
    display: flex;
    position: absolute;
    margin-right: 20px;
    left: 945px;
    font-size: 40px;
    color: #b18f61; 
    transition: transform 0.3s, color 0.3s; 
}

.vovler-btn:hover {
    color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}
/*Css formulari afegir cançons*/

/*Css Joc*/
/* Estils generals */
body.gamebody {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;            /*Utilizamos un diseño flexbox para alinear las columnas*/
    flex-direction: column;
    align-items: center;
}

/* Contingut principal */
.game-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.game-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#game-containerp {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
    line-height: 1.5; /*Altura de la linea de 1.5*/
}

#gameStatus {
    text-align: center;
    padding: 15px 30px;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px; /*Ancho maximo de 800px*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#elementsContainer {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 300px;
    margin: 20px auto;
    background-color: #1a1a1a;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #b18f61;
}

/* Elements del joc */
.element {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease; /*Aplicamos una transicion suave a todo de 0.2s*/
    cursor: pointer;
}

.element:hover {
    transform: scale(1.05);
}

.element i {
    font-size: 1.5rem;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

/* Responsive */
@media (max-width: 768px) {
    .game-title {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        padding: 0 20px;
    }

    #gameStatus {
        font-size: 1.1rem;
        margin: 15px;
        padding: 10px 20px;
    }

    #elementsContainer {
        height: 50vh;
    }

    .element {
        width: 50px;
        height: 50px;
    }
}
